* {
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
}

body {
  background: rgba(0, 0, 0, 0.5) url("../Assets/img/kotak.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: darken;
}

.sign-in.section {
  display: flex;
  justify-content: space-between;
}

.sign-in.section .logo-img {
  padding: 40px 0px 0px 40px;
}

/* Bagian Kanan */
.login-content {
  background-color: #124076;
  height: 100vh;
  width: 45%;
  border-radius: 1rem 0 0 1rem;
}

.login-container {
  text-align: center;
  color: #fff;
  padding: 80px 0px 0px 0px;
}

.login-container .login-welcome h1 {
  font-size: 2rem;
}

.login-container .login-welcome p {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1rem;
}

.login-content .login-container input {
  padding-right: 15rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin: 1rem;
  border-radius: 0.3rem;
  border: 1px solid #e3f2fd;
}

.login-content .login-container .input-field {
  width: 400px; /* Mengatur lebar input menjadi 300px */
  padding: 10px;
  box-sizing: border-box; /* Menambahkan padding di dalam lebar yang sudah diatur */
}

.login-content .login-container .options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  margin: 10px auto 0;
}

.login-content .login-container .options a {
  color: #fff;
}

.login-content .login-container .btn-submit {
  margin-top: 5rem;
  padding-right: 10rem;
  padding-left: 10rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 0.3rem;
  border: 1px solid #e3f2fd;
}

.login-content .login-container .sign-up.btn {
  margin-top: 5rem;
}

.login-content .login-container .sign-up.btn a {
  color: #5ea8ff;
  list-style: none;
  text-decoration: none;
}

.login-content .login-container input {
  padding-left: 10px;
}

.login-content .login-container input::placeholder {
  padding: 10px;
}

.pwd-btn {
  position: relative; /* Menjadikan container sebagai referensi untuk posisi absolut */
}

.password-input {
  padding-right: 40px; /* Memberi ruang untuk ikon di sebelah kanan input */
}

@media (max-width: 1028px) {
  body {
    background: none;
    background-color: #124076;
  }

  .sign-in.section {
    flex-direction: column;
    align-items: center;
  }

  .sign-in.section .logo-img {
    padding: 20px 0;
    text-align: center;
  }

  .login-content {
    width: 70%;
    height: auto;
    border-radius: 1rem;
    margin-top: 20px;
    padding: 20px;
  }

  .login-container {
    padding: 20px 0;
  }

  .login-container .login-welcome h1 {
    font-size: 1.5rem;
  }

  .login-container .login-welcome p {
    font-size: 0.9rem;
    margin-bottom: 2rem;
  }

  .login-content .login-container input {
    margin: 0.5rem;
  }

  .login-content .login-container .btn-submit {
    padding: 1rem 8rem;
    margin-top: 2rem;
  }

  .login-content .login-container .options {
    width: 80%;
    margin: 10px auto;
  }

  .sign-up {
    margin-top: 2rem;
  }

  .login-content .login-container label {
    display: inline-flex;
    align-items: center;
  }

  .login-content .login-container .sign-up.btn {
    margin-top: 3rem;
  }
}

@media (max-width: 640px) {
  html {
    font-size: 75%;
  }
  .login-content .login-container .input-field {
    width: 250px; /* Mengatur lebar input menjadi 300px */
  }

  .login-content .login-container .btn-submit {
    padding: 1rem 6rem;
    margin-top: 2rem;
  }
}
